.footer {
  display: flex;
  align-items: center;
  margin: -0.5rem -3.5rem;
  position: relative;
  margin-top: -5rem;
}

.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
  gap: 3rem;
  color: white;
}

.f-icons {
  display: flex;
  gap: 1.5rem;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: -4rem;
  }

  .f-content {
    margin-top: 2.5rem;
    gap: 2.5rem;
  }

  .f-icons {
    gap: 1.25rem;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    margin-top: -3rem;
  }

  .f-content {
    transform: scale(0.7);
    margin-top: 2rem;
    gap: 2rem;
  }

  .f-icons {
    gap: 1rem;
  }
}